
body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
/*	align-content: center;*/
	align-items: center;
/*	vertical-align: middle;*/
	flex-direction: column;
/*	justify-content: center;*/
}

iframe {
	border: none;
	/*padding-top: 10vh;
	padding-bottom: 10vh;*/
	width: 80vw;
	height: calc(80vw*6/40);
}